<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:form="http://www.springframework.org/tags/form" version="2.0"
          xmlns:spring="http://www.springframework.org/tags">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>

    <html>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title>Parts List</title>
            <spring:url value="/resources/css/bootstrap.min.css" var="bootstrapCSS" />
            <spring:url value="/resources/js/bootstrap.min.js" var="bootstrapJS" />
            <link rel="stylesheet" href="${bootstrapCSS}"/>
        </head>

        <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">&#160;</div>
                <div class="col-sm-4">
                    <br />
                    <div class="panel panel-warning">
                        <div class="panel-heading" style="text-align: center;">
                            <h1>Add new part</h1>
                        </div>
                        <div class="panel-body">
                            <form:form action="add" method="post">
                                <div class="form-group">
                                    <form:label path="name">Name</form:label>
                                    <form:input type="text" class="form-control" path="name" required="required" placeholder="Enter part name"/>
                                </div>
                                <div class="form-group">
                                    <form:label path="need">Need</form:label>
                                    <form:select class="form-control" path="need">
                                        <form:option value="true" />
                                        <form:option value="false" />
                                    </form:select>
                                </div>
                                <div class="form-group">
                                    <form:label path="count">Count</form:label>
                                    <form:input type="number" min="0" class="form-control" path="count" required="required" placeholder="Enter part count"/>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <form:button type="submit" class="btn btn-block btn-warning">Add</form:button>
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="../parts" class="btn btn-block btn-warning" role="button">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form:form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">&#160;</div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" />
        <script src="${bootstrapJS}" />
        </body>
    </html>
</jsp:root>
